*{
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:#000;
  color: aliceblue;
}

a{
  text-decoration: none;
  color: #f7d35a;
  transition: 0.5s;
}

a:hover{
  color: #b8930c;
}